<div class="container">
  <div class="row top">
    <div class="col-2 tip-left">
       萝卜多后台管理系统
    </div>
    <div class="col">
    </div>
    <div class="col-4 tip-right">
      <span>管理员</span>
      <span>刘德华</span>
      <span>|</span>
      <span>退出</span>
    </div>
  </div>

  <div class="row content">
    <div class="col-2 con-left">

      <ul>
        欢迎页
      </ul>
      <ul>
        信息管理
      </ul>
      <ul>
        内容管理
      </ul>
      <ul>
        后台管理
      </ul>

    </div>
    <div class="col con-right">

    </div>
  </div>
</div>




